:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: aliceblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  transition: di;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.aboutsec {
  border-radius: 20px;
  background-color: #1a1a1a;
  text-align: center;
}

.h1s {
  filter: drop-shadow(0 0 2em #82d7ff);
}
.h1s2 {
  filter: drop-shadow(0 0 2em #fffb00);
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  color: rgb(0, 0, 0);
}

.contacth1 {
  filter: drop-shadow(0 0 2em #f7ff82);
}

h2 {
  font-weight: lighter;
  color: rgb(0, 0, 0);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 110px;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff0000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#contact {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #232bbb;
}

#disc {
  transition: 0.25s;
}
#disc:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 2em hsl(244, 100%, 50%));
}

#insta {
  transition: 0.25s;
}
#insta:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 2em hsl(0, 100%, 50%));
}

#git {
  transition: 0.25s;
}
#git:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 2em hsl(0, 0%, 0%));
}

#yt {
  transition: 0.25s;
}
#yt:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 2em hsl(0, 100%, 50%));
}

nav {
  margin-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center; /* Center the text inside the nav */
  font-size: medium;
}

ul {
  border: 1px solid #ddd;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block; /* Display list items horizontally */
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  transition: 0.25s;
  color: rgb(134, 0, 0);
}

#nextpage {
  border: none;
  background-color: aliceblue;
  color: #1a1a1a;
}

.dark-mode p,
.dark-mode h1,
.dark-mode button,
.dark-mode * {
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
